language: node_js
env:
  global:
    - CC_TEST_REPORTER_ID=57e0176f5bbbaa914ec8aeb14c53a013d3d71fbc9c46715542c204d35c5f0562
matrix:
  include:
  - node_js: '14'
cache:
  directories: [node_modules]
install:
  npm install
after_success: npm coverage
before_script:
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build
script:
  - npm run test
after_script:
  - ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT